{% extends 'LVSevenBundle::layout.html.twig' %} 
{% block content %}
<!-- http://192.168.2.6:9023/app_dev.php/seven/ -->

{% javascripts output="js/vmain.min.js"
    '@LVSevenBundle/Resources/public/js/touch.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


<div id="loading_public" class="ycenter">

    <div class="loading_con">
        <img src="/cvd2016/loading_logo.png" width="100%" />
        <p></p>
    </div>

</div>

<div id="index">
	<div class="cblack1"></div>
	<img src="" sourcesrc="/cvd2016/logoWhite.png" width="100%" />
	<div class="cblack2"></div>
	<img src="" sourcesrc="/cvd2016/love.png" width="100%" />
	<div class="cblack3"></div>
	<img src="" sourcesrc="/cvd2016/swiperTips.png" class="swiperTips" width="100%" />
</div>

<div class="dreambox" id="list">
	<a href="javascript:;" class="logoBlack">
		<img src="" sourcesrc="/cvd2016/logoBlack.png" width="100%" />
	</a>

	<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide list_m1">
            	<div class="hotlink" data-type="m1">
            		<a href="{{ url('lv_seven_pro', {'type': 'm1','id': '7'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm1','id': '2'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm1','id': '5'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm1','id': '3'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm1','id': '1'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm1','id': '4'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm1','id': '0'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm1','id': '6'}) }}"></a>
            	</div>
				<img src="" sourcesrc="/cvd2016/list/m1.png" width="100%" />
            </div>
            <div class="swiper-slide list_m2">
            	<div class="hotlink" data-type="m2">
            		<a href="{{ url('lv_seven_pro', {'type': 'm2','id': '6'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm2','id': '4'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm2','id': '5'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm2','id': '7'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm2','id': '0'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm2','id': '3'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm2','id': '1'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'm2','id': '2'}) }}"></a>
            	</div>
				<img src="" sourcesrc="/cvd2016/list/m2.png" width="100%" />
            </div>
            <div class="swiper-slide list_f1">
            	<div class="hotlink" data-type="f1">
            		<a href="{{ url('lv_seven_pro', {'type': 'f1','id': '5'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f1','id': '7'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f1','id': '6'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f1','id': '2'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f1','id': '3'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f1','id': '1'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f1','id': '4'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f1','id': '0'}) }}"></a>
            	</div>
				<img src="" sourcesrc="/cvd2016/list/f1.png" width="100%" />
            </div>
            <div class="swiper-slide list_f2">
            	<div class="hotlink" data-type="f2">
            		<a href="{{ url('lv_seven_pro', {'type': 'f2','id': '0'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f2','id': '6'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f2','id': '5'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f2','id': '1'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f2','id': '2'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f2','id': '4'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f2','id': '3'}) }}"></a>
            		<a href="{{ url('lv_seven_pro', {'type': 'f2','id': '7'}) }}"></a>
            	</div>
            	<img src="" sourcesrc="/cvd2016/list/f2.png" width="100%" />
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>


</div>



<script type="text/javascript">
	
    var overscroll = function(el) {
      el.addEventListener('touchstart', function() {
        var top = el.scrollTop
          , totalScroll = el.scrollHeight
          , currentScroll = top + el.offsetHeight
        //If we're at the top or the bottom of the containers
        //scroll, push up or down one pixel.
        //
        //this prevents the scroll from "passing through" to
        //the body.
        if(top === 0) {
          el.scrollTop = 1
        } else if(currentScroll === totalScroll) {
          el.scrollTop = top - 1
        }
      })
      el.addEventListener('touchmove', function(evt) {
        //if the content is actually scrollable, i.e. the content is long enough
        //that scrolling can occur
        if(el.offsetHeight < el.scrollHeight)
          evt._isScroller = true
      })
    }
    overscroll(document.querySelector('#list'));
    //overscroll(document.querySelector('#page2-3'));
    document.body.addEventListener('touchmove', function(evt) {
      //In this case, the default behavior is scrolling the body, which
      //would result in an overflow.  Since we don't want that, we preventDefault.
      if(!evt._isScroller) {
        evt.preventDefault()
      }
    });


	var allImgSrcArr = [
		"/cvd2016/indexBg.jpg",
		"/cvd2016/logoWhite.png",
		"/cvd2016/love.png",
		"/cvd2016/swiperTips.png",
	];

	var loadingFun = function(){


			function LoadFn ( arr , fn , fn2){
					var loader = new PxLoader();
					for( var i = 0 ; i < arr.length; i ++)
					{
						loader.addImage(arr[i]);
					};
					
					loader.addProgressListener(function(e) {
							var percent = Math.round( e.completedCount / e.totalCount * 100 );
							if(fn2) fn2(percent)
					});	
					
					
					loader.addCompletionListener( function(){
						if(fn) fn();	
					});
					loader.start();	
			}


			LoadFn(allImgSrcArr , function (){
			    //console.log("加载完成!");
			    $("img").each(function(){ 
					$(this).attr("src",$(this).attr("sourcesrc"));
				})
			    
                //swipe example
                var jumpId = 0;
                touch.on('#index', 'swipeleft swiperight', function(ev){
                    //console.log("you have done", ev.type);
                    if(ev.type == "swipeleft"){
                        jumpId = 0;
                        _hmt.push(['_trackEvent', 'swiper', 'index', '向左滑']);
                    }else{
                        jumpId = 2;
                        _hmt.push(['_trackEvent', 'swiper', 'index', '向右滑']);
                    }

                    swiperFun(jumpId);
                    $("#index").fadeOut();
                    
                });
                            
			    $("#loading_public").fadeOut();
			} , function ( p ){
                $('.loading_con p').html(p+"%");
				//console.log(p);
			});

	};

    var loadingImg = new Image();
    loadingImg.src="/cvd2016/loading_logo.png";
    loadingImg.onload = function(){
        loadingFun();
    }


    var swiperArrTJ = ["Male 1", "Male 1", "Male 2", "Female 1", "Female 2", "Male 1"];
	function swiperFun(_id){
		var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: '.swiper-pagination',
	        initialSlide : _id,
	        loop: true,
            onSlideChangeEnd: function(swiper){
              _hmt.push(['_trackEvent', 'change', 'page', swiperArrTJ[swiper.activeIndex]]);
            }
	    });
	}


    $(function(){

        shareData = {
            title: '路易威登•七夕甄礼',
            desc: '永恒之礼，至臻爱意',
            descTimeline: '路易威登•七夕甄礼',
            link: window.location.host + "/seven",
            imgUrl: 'http://' + window.location.host + '/cvd2016/share.jpg',
            returnFunTimeline: function(){
                _hmt.push(['_trackEvent', 'share', 'ShareTimeline', 'index']);
            },
            returnFunAppmessage: function(){
                _hmt.push(['_trackEvent', 'share', 'ShareAppMessage', 'index']);
            }
        };
        editShare();

    })


    $(".hotlink").delegate("a", "click", function(){
        var proType = $(this).parents(".hotlink").attr("data-type"),
            proSize = $(this).index();

        _hmt.push(['_trackEvent', 'click', 'pro', proType + "_" + proSize]);
    })

</script>



{% endblock %}
