{% extends 'LVSevenBundle::layout.html.twig' %} 
{% block content %}
<!-- http://192.168.2.6:9023/app_dev.php/seven/ -->

<div class="loading">
    <div class="cssload-loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

{# {% if type == "m1" %}
	m1
{% else %}
	m2
{% endif %} #}



<div class="dreambox" id="pro" data-type="{{ type }}">
	<div class="pup ycenter" id="telpup">
		<div class="pupcon">
			<a href="javascript:;" class="close"></a>
			<img src="" sourcesrc="/cvd2016/telKv.png" width="100%" />
			<img src="" sourcesrc="/cvd2016/telText.png" class="telText" width="100%" />
			<span>
				<a href="tel:4006588555" onclick="_hmt.push(['_trackEvent', 'click', 'btn', '致电专属客服']);"></a>
				<img src="" sourcesrc="/cvd2016/telBtn.png" width="100%" />
			</span>
		</div>
	</div>


	<a href="javascript:;" class="logoBlack">
		<img src="" sourcesrc="/cvd2016/logoBlack.png" width="100%" />
	</a>

	<!-- Swiper -->
    <div class="swiper-container" id="pro-{{ type }}">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
				<img src="" sourcesrc="/cvd2016/pro/{{ type }}/1.png" width="100%" />
				<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t1.png" width="100%" />
					{# {% if type == "m1" %}
						{{ title.m1[0] }}
					{% elseif type == "m2" %}
						{{ title.m2[0] }}
					{% elseif type == "f1" %}
						{{ title.f1[0] }}
					{% else %}
						{{ title.f2[0] }}
					{% endif %} #}
				</span>
            </div>
            <div class="swiper-slide">
				<img src="" sourcesrc="/cvd2016/pro/{{ type }}/2.png" width="100%" />
				<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t2.png" width="100%" />
				</span>
            </div>
            <div class="swiper-slide">
				<img src="" sourcesrc="/cvd2016/pro/{{ type }}/3.png" width="100%" />
				<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t3.png" width="100%" />
				</span>
            </div>
            <div class="swiper-slide">
            	<img src="" sourcesrc="/cvd2016/pro/{{ type }}/4.png" width="100%" />
            	<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t4.png" width="100%" />
				</span>
            </div>
            <div class="swiper-slide">
            	<img src="" sourcesrc="/cvd2016/pro/{{ type }}/5.png" width="100%" />
            	<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t5.png" width="100%" />
				</span>
            </div>
            <div class="swiper-slide">
            	<img src="" sourcesrc="/cvd2016/pro/{{ type }}/6.png" width="100%" />
            	<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t6.png" width="100%" />
				</span>
            </div>
            <div class="swiper-slide">
            	<img src="" sourcesrc="/cvd2016/pro/{{ type }}/7.png" width="100%" />
            	<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t7.png" width="100%" />
				</span>
            </div>
            <div class="swiper-slide">
				<img src="" sourcesrc="/cvd2016/pro/{{ type }}/8.png" width="100%" />
				<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t8.png" width="100%" />
				</span>
            </div>
            <div class="swiper-slide">
				<img src="" sourcesrc="/cvd2016/pro/{{ type }}/9.png" width="100%" />
				<span>
					<img src="" sourcesrc="/cvd2016/pro/{{ type }}/t9.png" width="100%" />
				</span>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="proFooter">
    	<img src="" sourcesrc="/cvd2016/telTips.png" width="100%" />
    	<span class="telBtn">
    		<a href="javascript:;"></a>
    		<img src="" sourcesrc="/cvd2016/telBtn.png" width="100%" />
    	</span>

    	<span class="more">
			{% if type == "m1" %}
				<a href="http://www.louisvuitton.cn/zhs-cn/men/gift-inspirations/timeless-pieces" target="_blank"></a>
			{% elseif type == "m2" %}
				<a href="http://www.louisvuitton.cn/zhs-cn/men/gift-inspirations/timeless-pieces" target="_blank"></a>
			{% elseif type == "f1" %}
				<a href="http://www.louisvuitton.cn/zhs-cn/women/gift-inspirations/timeless-pieces" target="_blank"></a>
			{% else %}
				<a href="http://www.louisvuitton.cn/zhs-cn/women/gift-inspirations/timeless-pieces" target="_blank"></a>
			{% endif %}
    		<img src="" sourcesrc="/cvd2016/more.png" width="100%" /></span>
    </div>


</div>


<script type="text/javascript">
	
	var allImgSrcArr = [
		"/cvd2016/arr_l.png",
		"/cvd2016/arr_r.png",
		"/cvd2016/f1Bg.jpg",
		"/cvd2016/f2Bg.jpg",
		"/cvd2016/indexBg.jpg",
		"/cvd2016/logoBlack.png",
		"/cvd2016/logoWhite.png",
		"/cvd2016/love.png",
		"/cvd2016/m1Bg.jpg",
		"/cvd2016/m2Bg.jpg",
		"/cvd2016/share.jpg",
		"/cvd2016/swiperTips.png",
		"/cvd2016/telBtn.png",
		"/cvd2016/telKv.png",
		"/cvd2016/telText.png",
		"/cvd2016/telTips.png",

		"/cvd2016/list/f1.png",
		"/cvd2016/list/f2.png",
		"/cvd2016/list/m1.png",
		"/cvd2016/list/m2.png",
	];


	var loadingFun = function(){

			function LoadFn ( arr , fn , fn2){
					var loader = new PxLoader();
					for( var i = 0 ; i < arr.length; i ++){
						loader.addImage(arr[i]);
					};
					
					loader.addProgressListener(function(e) {
							var percent = Math.round( e.completedCount / e.totalCount * 100 );
							if(fn2) fn2(percent)
					});	
					
					
					loader.addCompletionListener( function(){
						if(fn) fn();	
					});
					loader.start();	
			}


			LoadFn(allImgSrcArr , function (){
			    //console.log("加载完成!");
			    $("img").each(function(){ 
					$(this).attr("src",$(this).attr("sourcesrc"));
				})

				var _pid = "{{ id }}";
			    var swiper = new Swiper('.swiper-container', {
			        nextButton: '.swiper-button-next',
			        prevButton: '.swiper-button-prev',
			        loop: true,
			        //initialSlide : _pid,
			        effect : 'flip',
					flip: {
			            slideShadows : true,
			            limitRotation : true,
			        },
			        onInit: function(v){
			        	console.log(v);
			        	console.log(_pid);
			        	swiper.slideTo(_pid*1, 2000, true)
			        }

			    });
			    
			    $(".loading").fadeOut();
			} , function ( p ){
				//$('.loading_con p').html(p+"%");
				console.log(p+"%");
			});

	};


	$("img").each(function(k,v){ 
		allImgSrcArr.push($(this).attr("sourcesrc"));
		if(k>=parseInt($("img").length, 10)*1-1){
			loadingFun();
		};
	})
	



	$(".telBtn a").on("touchstart", function(){
		$("#telpup").css("visibility", "visible");
	})

	$(".close").on("touchstart", function(){
		$("#telpup").css("visibility", "hidden");
	})


	$(function(){

        shareData = {
            title: '路易威登•七夕甄礼',
            desc: '永恒之礼，至臻爱意',
            descTimeline: '路易威登•七夕甄礼',
            link: window.location.host + "/seven",
            imgUrl: 'http://' + window.location.host + '/cvd2016/share.jpg',
            returnFunTimeline: function(){
                _hmt.push(['_trackEvent', 'share', 'ShareTimeline', 'pro']);
            },
            returnFunAppmessage: function(){
                _hmt.push(['_trackEvent', 'share', 'ShareAppMessage', 'pro']);
            }
        };
        editShare();

    })



</script>



{% endblock %}
