{% extends 'LVFondationBundle::dreamlayout.html.twig' %}
{% block title %}LV UGC{% endblock %}
{% block dreambox %}


	<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<div class="step1_con">
            		<img src="/images/d-v/dv-1.jpg" class="s-img" width="100%" />
            	</div>
            	<div class="pageArr">
					开始梦想之旅
					<img src="/images/d-v/pageArr.png" />
				</div>
            </div>
             <div class="swiper-slide">
            	<img src="/images/d-v/dream-model-1.jpg" id="dreamModeVal" class="s-img" />
            	<div class="pageArr">
					开始梦想之旅
					<img src="/images/d-v/pageArr.png" />
				</div>
            </div>
            <!--<div class="swiper-slide">
            	<img data-src="/images/d-v/dv-3.jpg" class="swiper-lazy s-img" />
            	<div class="pageArr">
					开始梦想之旅
					<img src="/images/d-v/pageArr.png" />
				</div>
				<div class="swiper-lazy-preloader"></div>
            </div> -->
            <div class="swiper-slide">

            	<div class="dreamParameters">
            		<div class="dreamInfo">
	            		<div class="dp_text">
	            			{{ userdream.content }}
	            		</div>
	            		<div class="dp_name">{{ userdream.nickname }}</div>

	            		<div class="dp_curGlass">
	            			{{ userdream.call }}的旅程是构建<br />路易威登基金会的<br />第 <span>{{ userdream.dreamcount }}</span>块<br /><i>梦想玻璃</i>
	            		</div>

	            		<div class="dp_info">
	            			<div class="info-day">
	            				<span>天数</span>
	            				<span>{{ userdream.days }}</span>
	            			</div>
	            			<div class="info-attention">
	            				<span>受关注</span>
	            				<span>{{ userdream.views }}</span>
	            			</div>
	            			<div class="info-fav">
	            				<span>喜欢</span>
	            				<span>{{ userdream.liked }}</span>
	            			</div>
	            		</div>

            			<a href="javascript:;" class="btn">分享</a>
            		</div>
            		<img src="/images/d-v/dv-glass-1.png" width="100%" />

            		
            	</div>
            	<img src="/images/d-v/dv-4.jpg" class="s-img" />
            </div>
        </div>
    </div>
<script type="text/javascript">
document.addEventListener('touchmove' , function (ev){
		ev.preventDefault();
		return false;
} , false)

var swiper = new Swiper('.swiper-container', {
	//lazyLoading : true,
    direction: 'vertical'
});




function GetRandomNum(Min,Max)
{   
var Range = Max - Min;   
var Rand = Math.random();   
return(Min + Math.round(Rand * Range));   
}   
var num = GetRandomNum(1,6);  
$("#dreamModeVal").attr("src","/images/d-v/dream-model-"+num+".jpg") 


</script>
{% endblock %}