{% extends 'LVFondationBundle::journeylayout.html.twig' %}
{% block title %}筑梦之旅{% endblock %}
{% block dreambox %}


<div id="wechatTips"></div>

	<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<div class="step1_con">
            		<img src="" sourcesrc="/images/d-v/dv-1.jpg" class="s-img" width="100%" />
            	</div>
            	<div class="pageArr">
					开始梦想之旅
					<img src="" sourcesrc="/images/d-v/pageArr.png" />
				</div>
            </div>
             <div class="swiper-slide">
            	<img src="" sourcesrc="/images/d-v/dream-model-1.jpg" id="dreamModeVal" class="s-img" />
            	<div class="pageArr">
					开始梦想之旅
					<img src="" sourcesrc="/images/d-v/pageArr.png" />
				</div>
            </div>
    
            <div class="swiper-slide">

            	<div class="dreamParameters" data-url="{{ url('lv_fondation_journeyuserdream', {'id': userdream.dream_id}) }}" >
            		<div class="dreamInfo">
	            		<div class="dp_text">
	            			{{ userdream.content }}
	            		</div>
	            		<div class="dp_name">{{ userdream.nickname }}</div>

	            		<div class="dp_curGlass">
	            			{{ userdream.call }}的旅程是构建<br />路易威登基金会的<br />第 <span>{{ userdream.dreamcount }}</span>块<br /><i>梦想玻璃</i>
	            		</div>

	            		<div class="dp_info">
	            			<div class="info-day">
	            				<span>天数</span>
	            				<span>{{ userdream.days }}</span>
	            			</div>
	            			<div class="info-attention">
	            				<span>受关注</span>
	            				<span>{{ userdream.views }}</span>
	            			</div>
	            			<div class="info-fav">
	            				<span>喜欢</span>
	            				<span>{{ userdream.liked }}</span>
	            			</div>
	            		</div>

            			<a href="javascript:;" class="btn dreamShare_btn">分享</a>
            		</div>
            		<img src="" sourcesrc="/images/d-v/dv-glass-1.png" width="100%" />

            		
            	</div>
            	<img src="" sourcesrc="/images/d-v/dv-4.jpg" class="s-img" />
            </div>
        </div>
    </div>
<script type="text/javascript">


	$(function(){
		var shareUrl = $(".dreamParameters").attr("data-url");
		shareData = {
		    title: '路易威登基金会·梦想启航',
		    desc: '我的梦想已经扬帆！和你的一样吗？',
		    descTimeline: '路易威登基金会▪我的梦想已经扬帆！和你的一样吗？',
		    url: shareUrl,
			imgUrl: 'http://' + window.location.host + '/images/share.jpg',
		    returnFun: function(){
		    	window.location.href = $(".dreamParameters").attr("data-url");
		    }
		};
		editShare();
		
		document.addEventListener('touchmove' , function (ev){
				ev.preventDefault();
				return false;
		} , false)


		function GetRandomNum(Min,Max)
		{   
		var Range = Max - Min;   
		var Rand = Math.random();   
		return(Min + Math.round(Rand * Range));   
		}   
		var num = GetRandomNum(1,6);  
		$("#dreamModeVal").attr("sourcesrc","/images/d-v/dream-model-"+num+".jpg") 

		var swiper = new Swiper('.swiper-container', {
			lazyLoading : true,
		    direction: 'vertical'
		});


		/* 分享当前梦想 */
		$(".dreamShare_btn").click(function(){
			$("#wechatTips").fadeIn();
		})

		document.getElementById('wechatTips').addEventListener('touchstart' , function (ev){
			ev.preventDefault();
			$("#wechatTips").fadeOut();
			return false;
		} , false)

        /* loading */

		var imgSrcArr = [];
		loadingFun(imgSrcArr);
	})


</script>
{% endblock %}