{% extends 'LVFondationBundle::journeylayout.html.twig' %}
{% block title %}筑梦之旅{% endblock %}
{% block dreambox %}


<div id="wechatTips"></div>

<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">

			<div class="dreamParameters" data-url="{{ url('lv_fondation_journeyuserdream', {'id': userdream.dream_id}) }}">
					<div class="dreamInfo">
			    		<div class="dp_text">
			    			{{ userdream.content }}
			    		</div>
			    		<div class="dp_name">{{ userdream.nickname }}</div>

			    		<div class="dp_curGlass">
			    			{{ userdream.call }}的旅程是构建<br />路易威登基金会的<br />第 <span>{{ userdream.dreamcount }}</span>块<br /><i>梦想玻璃</i>
			    		</div>

			    		<div class="dp_info">
			    			<div class="info-day">
			    				<span>天数</span>
			    				<span>{{ userdream.days }}</span>
			    			</div>
			    			<div class="info-attention">
			    				<span>受关注</span>
			    				<span>{{ userdream.views }}</span>
			    			</div>
			    			<div class="info-fav">
			    				<span>喜欢</span>
			    				<span>{{ userdream.liked }}</span>
			    			</div>
			    		</div>

						{% if userdream.who == 'myself' %}
							<a href="javascript:;" class="btn dreamShare_btn">分享</a>
						{% endif %}
					</div>
					<img src="/images/d-v/dv-glass-1.png" width="100%" />

					
				</div>
				<img src="/images/d-v/dv-4.jpg" class="s-img" />
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">

$(function(){

	//var shareUrl = $(".dreamParameters").attr("data-url");
	shareData = {
	    title: '路易威登基金会·我的梦想之旅，邀你一同见证与前行',
	    desc: '梦想基金会模型现已起航，有多少人与你携手前行?',
	    descTimeline: '路易威登基金会·我的梦想之旅，邀你一同见证与前行',
    	link: "{{ url('lv_fondation_journeyuserdream', {'id': userdream.dream_id}) }}",
		imgUrl: 'http://' + window.location.host + '/images/share.jpg',
        sharePage: 'journey',
		sharePageVal: 'journey梦想'
	};
	//alert("{{ url('lv_fondation_journeyuserdream', {'id': userdream.dream_id}) }}");
	editShare();

	/* 分享当前梦想 */
	$(".dreamShare_btn").click(function(){
		$("#wechatTips").fadeIn();
	})

	document.getElementById('wechatTips').addEventListener('touchstart' , function (ev){
		ev.preventDefault();
		$("#wechatTips").fadeOut();
		return false;
	} , false)

	var imgSrcArr = [];
	loadingFun(imgSrcArr);
})

</script>



{% endblock %}




