{% extends "LVFondationBundle::ugclayout.html.twig" %}
{% block title %}筑梦之旅{% endblock %}
{% block dreambox %}

<div id="wechatTips"></div>

<!-- index page -->
<div class="page" id="index" data-page="index">

	<div class="demo-test">

		<div class="dreamlist">
    		<dl>
    			<dt>
					<div class="swiper-container dream-swiper">
					  <div class="swiper-wrapper" id="dreamListCon">
						   
					    </div>
					</div>
    			</dt>
    			<dd>
    				<a href="javascript:pagechange.moveClick('chose');"></a>
    				<div class="completionRatio">
    					<p>梦想已完成</p>
    					<h2>{{ percentage }}<sup>%</sup></h2>
    				</div>
    				<img src="" sourcesrc="/images/ugc/bulid-{{ imagename }}.png" width="90%" />
    				<div class="d-tips"><img src="" sourcesrc="/images/ugc/enlarge_arr.png" width="80%" /></div>
    			</dd>
    		</dl>
    	</div>

    	<!-- Add Navigation -->
		<div class="swiper-button-prev listPrev">
				<img src="" sourcesrc="/images/ugc/list_arr_l.png" width="100%" />
		</div>
		<div class="swiper-button-next listNext">
				<img src="" sourcesrc="/images/ugc/list_arr_r.png" width="100%" />
		</div>

		<div class="dream_footer">
			{% if userdream %}
		    	<a href="{{ userdream }}" class="btn creatBtn">查看我的梦想之旅</a>
		    {% else %}
		    	<a href="javascript:_doing.getCreateData();" class="btn creatBtn">告诉大家你的梦想之旅</a>
			{% endif %}
		    <a href="/fondation">
		        <img src="/images/ugc/story.jpg" width="100%" />
		    </a>
		</div>
	</div>

</div>


<!-- chose page -->
<div class="page" id="chose" data-page="chose">

	<div class="demo-test">
		<a href="javascript:pagechange.moveClick('index');" class="backBtn">
			<img src="" sourcesrc="/images/ugc/reback_arr.png" />
			返回
		</a>

		<div class="choseGlass">
			<div class="glassTips"><img src="" sourcesrc="/images/ugc/green-dot.png" width="100%" />点击玻璃，了解大家的梦想之旅</div>
			<div class="swiper-container glass-swiper">
			  	<div class="swiper-wrapper" id="glassListCon">
				    
				</div>
			</div>
		</div>


		<!-- Add Navigation -->
		<div class="swiper-button-prev glassArr-prev">
				<img src="" sourcesrc="/images/ugc/arr-l.png" />
		</div>
		<div class="swiper-button-next glassArr-next">
				<img src="" sourcesrc="/images/ugc/arr-r.png" />
		</div>

		<div class="dream_footer">
			{% if userdream %}
		    	<a href="{{ userdream }}" class="btn creatBtn">查看我的梦想之旅</a>
		    {% else %}
		    	<a href="javascript:_doing.getCreateData();" class="btn creatBtn">告诉大家你的梦想之旅</a>
			{% endif %}
		    <a href="/fondation">
		        <img src="/images/ugc/story.jpg" width="100%" />
		    </a>
		</div>
	</div>

</div>



<!-- selected page -->
<div class="page" id="selected" data-page="selected">

	<div class="demo-test">
		<a href="javascript:pagechange.moveClick('chose');" class="backBtn">
			<img src="" sourcesrc="/images/ugc/reback_arr.png" />
			返回
		</a>

		<div class="selected_con">
		<img src="" sourcesrc="/images/ugc/glass-bg-0.jpg" width="100%" id="cur-glass" />

			

			<div id="selectedContent">

			</div>	
			

		</div>	
		
		<div class="dream_footer">
		    {% if userdream %}
		    	<a href="{{ userdream }}" class="btn creatBtn">查看我的梦想之旅</a>
		    {% else %}
		    	<a href="javascript:_doing.getCreateData();" class="btn creatBtn">告诉大家你的梦想之旅</a>
			{% endif %}
		    <a href="/fondation">
		        <img src="/images/ugc/story.jpg" width="100%" />
		    </a>
		</div>

	</div>

</div>
	    	

<!-- create page -->
<div class="page" id="create" data-page="create">

	<div class="demo-test">
		<a href="javascript:pagechange.moveClick('index');" class="backBtn">
			<img src="" sourcesrc="/images/ugc/reback_arr.png" />
			返回
		</a>

		<div class="create_con">
			<div class="create-content">

				<div class="create-num">路易威登基金会<br />现已构建 <span>{{ dreamcount }}</span> 块玻璃</div>
				<div class="create-context">
					<textarea name="" class="creatTextCon" maxlength="30" cols="" rows="" placeholder="请输入创作内容(30字)"></textarea>
				</div>
				<div class="create-name">
					<input type="text" class="creatTextName" placeholder="请输入您的姓名">
				</div>


			</div>
			<img src="" sourcesrc="/images/ugc/c_g_1.png" width="100%"/>
		</div>

		<div class="dream_footer">
		    <a href="javascript:;" class="btn finshBtn">完成</a>
		    <a href="/fondation">
		        <img src="/images/ugc/story.jpg" width="100%" />
		    </a>
		</div>
	</div>

</div>



<script type="text/javascript">

;(function($){
	$(function(){

		_doing.dreamListData();
		_doing.getGlassData();
		// _doing.getSelectedData();

		if(GetQueryString()=="create"){
			_doing.getCreateData();
		}

		
		shareData = {
		    title: '路易威登基金会▪梦想启航',
		    desc: '我的梦想已经扬帆！和你的一样吗？'
		};
	    //editShare();
		
		/* 提交创建内容 */
		$(".finshBtn").click(function(){
			if($(this).hasClass("isdoing"))return false;
			
			var creatTextCon = $(".creatTextCon").val(),
				creatTextName = $(".creatTextName").val();
				if(creatTextCon == ""){
					$(".creatTextCon").addClass("error").attr("placeholder","请输入内容");
					return false;
				}

				if(creatTextName == ""){
					$(".creatTextName").addClass("error").attr("placeholder","请输入姓名");
					return false;
				}else{
					$(this).addClass("isdoing").val("正在加载...");
					_doing.submitCreateFun(creatTextName,creatTextCon);
				}

		})


		var imgSrcArr = ["/images/ugc/list-model-0.png","/images/ugc/list-model-1.png","/images/ugc/list-model-2.png","/images/ugc/list-model-3.png","/images/ugc/list-model-4.png","/images/ugc/glass-0.jpg","/images/ugc/glass-1.jpg","/images/ugc/glass-2.jpg","/images/ugc/glass-3.jpg","/images/ugc/glass-4.jpg","/images/ugc/glass-5.jpg"];
		loadingFun(imgSrcArr);
	})

})(jQuery);


</script>

<div class="default_dreams_home" style="display:none">
{{default_dreams_home|json_encode()}}
</div>
<div class ="default_dreams_in" style="display:none">
{{default_dreams_in|json_encode()}}
</div>

    
{% endblock %}