{% extends "LVFondationBundle::ugclayout.html.twig" %}
 {% block title %}筑梦之旅{% endblock %}
{% block dreambox %}
<div id="wechatTips"></div>

{% if userdream.ismyself %}

	<!-- share page -->
	<div class="page" id="share" data-page="share">

		<div class="demo-test">
			<a href="/fondation/ugc" class="backBtn">
				<img src="/images/ugc/reback_arr.png" />
				返回
			</a>

			<div class="create_con">
				<div class="create-content" data-dream-id={{ userdream.dream_id }}>

					<div class="create-num">你是构建路易威登基金会的<br />第<span>{{ userdream.dream_id }}</span>块玻璃</div>
					<div class="create-context">
						<textarea name="" readonly="readonly" class="creatTextCon" cols="" rows="" placeholder="请输入创作内容">{{ userdream.content }}</textarea>
					</div>
					<div class="create-name">
						<input type="text" readonly="readonly" class="creatTextName" placeholder="请输入您的姓名" value={{ userdream.nickname }}>
					</div>


				</div>
				<img src="/images/ugc/c_g_1.png" width="100%"/>
			</div>

			<div class="dream_footer">
				<p class="dfTips">立即分享至朋友圈<br />获取北京路易威登基金会精美海报</p>
				<div class="ugcBtnArea">
					<a href="javascript:;" class="btn shareBtn">分享</a>
					<a href="/fondation/ugc#chose" class="btn">查看大家的梦想之旅</a>
				</div>
			    
			    <a href="/fondation">
			        <img src="/images/ugc/story.jpg" width="100%" />
			    </a>
			</div>
		</div>

	</div>


	<!-- view page -->
	<div class="page" id="index" data-page="index">

		<div class="demo-test">
			<a href="/fondation/ugc" class="backBtn">
				<img src="/images/ugc/reback_arr.png" />
				返回
			</a>

			<div class="create_con">
				<div class="create-content" data-dream-id={{ userdream.dream_id }}>

					<div class="create-num">你是构建路易威登基金会的<br />第<span>{{ userdream.dream_id }}</span>块玻璃</div>
					<div class="create-context">
						<textarea name="" readonly="readonly" class="creatTextCon" cols="" rows="" placeholder="请输入创作内容">{{ userdream.content }}</textarea>
					</div>
					<div class="create-name">
						<input type="text" readonly="readonly" class="creatTextName" placeholder="请输入您的姓名" value={{ userdream.nickname }}>
					</div>


				</div>
				<img src="/images/ugc/c_g_1.png" width="100%"/>
			</div>

			<div class="dream_footer">
			    <a href="javascript:pagechange.moveClick('edit');" class="btn">编辑我的梦想之旅</a>
			    <a href="/fondation">
			        <img src="/images/ugc/story.jpg" width="100%" />
			    </a>
			</div>
		</div>

	</div>

	<!-- edit page -->
	<div class="page" id="edit" data-page="edit">

		<div class="demo-test">
			<a href="javascript:pagechange.moveClick('index');" class="backBtn">
				<img src="/images/ugc/reback_arr.png" />
				返回
			</a>

			<div class="create_con">
				<div class="create-content" data-dream-id={{ userdream.dream_id }}>

					<div class="create-num">你是构建路易威登基金会的<br />第<span>{{ userdream.dream_id }}</span>块玻璃</div>
					<div class="create-context">
						<textarea name="" class="creatTextCon" cols="" rows="" placeholder="请输入创作内容">{{ userdream.content }}</textarea>
					</div>
					<div class="create-name">
						<input type="text" class="creatTextName" placeholder="请输入您的姓名" value={{ userdream.nickname }}>
					</div>


				</div>
				<img src="/images/ugc/c_g_1.png" width="100%"/>
			</div>

			<div class="dream_footer">
			    <a href="javascript:;" class="btn finshBtn">再次提交</a>
			    <a href="/fondation">
			        <img src="/images/ugc/story.jpg" width="100%" />
			    </a>
			</div>
		</div>

	</div>


	<!-- form page -->
	<div class="page" id="form" data-page="form">

			<div class="demo-test">
				<a href="javascript:pagechange.moveClick('index');" class="backBtn">
					<img src="/images/ugc/reback_arr.png" />
					返回
				</a>

				<div class="formCon">
					<img src="/images/ugc/formTips.png" width="78%" />
					<ul class="formlist">
						<li>
							<span>姓名</span> <input type="text" name="fname">
						</li>

						<li>
							<span>电子邮箱</span> <input type="text" name="femail">
						</li>

						<li>
							<span>手机号码</span> <input type="tel" maxlength="11" name="ftel">
						</li>

						<!-- <li>
							<span>邮寄地址</span> <input type="text" name="faddress">
						</li> -->
					</ul>

					<a href="javascript:;" class="btn formSubmit_btn">
						提交
					</a>

					<a href="javascript:pagechange.moveClick('attention');" class="attention_btn">
						<img src="/images/ugc/attention_btn.png" />
					</a>
				</div>


				<div class="dream_footer">
				    <a href="/fondation">
				        <img src="/images/ugc/story.jpg" width="100%" />
				    </a>
				</div>

			</div>

		</div>


		<!-- attention page -->
		<div class="page" id="attention" data-page="attention">

			<div class="demo-test">
				<a href="javascript:pagechange.moveClick('form');" class="backBtn">
					<img src="/images/ugc/reback_arr.png" />
					返回
				</a>

				<div class="attention_con">
					<img src="/images/ugc/attention_tips.png" />
					<img src="/images/ugc/wechat.png" />
				</div>
				<div class="dream_footer">
				    <a href="/fondation">
				        <img src="/images/ugc/story.jpg" width="100%" />
				    </a>
				</div>
			</div>

		</div>


		<!-- poster page -->
		<div class="page" id="poster" data-page="poster">

			<div class="demo-test">
				<a href="/fondation/ugc" class="backBtn">
					<img src="/images/ugc/reback_arr.png" />
					返回
				</a>

				<div class="poster_con">
					<img src="/images/ugc/posterText.png" width="70%" />
					<a href="http://www.louisvuitton.cn/zhs-cn/stores" target="_blank" class="btn goShopInfo_btn">
						前去路易威登官网查看店铺信息
					</a>

					<a href="javascript:pagechange.moveClick('attention');" class="attention_btn">
						<img src="/images/ugc/attention_btn.png" />
					</a>
				</div>

				<div class="dream_footer">
				    <a href="/fondation">
				        <img src="/images/ugc/story.jpg" width="100%" />
				    </a>
				</div>

			</div>

		</div>

	<script type="text/javascript">


		$(function(){

			/* 提交创建内容 */
			$(".finshBtn").click(function(){
				if($(this).hasClass("isdoing"))return false;
				
				var creatTextCon = $("#edit .creatTextCon").val(),
					creatTextName = $("#edit .creatTextName").val();
					if(creatTextCon == ""){
						$(".creatTextCon").addClass("error").attr("placeholder","内容不能为空！");
						return false;
					}

					if(creatTextName == ""){
						$(".creatTextName").addClass("error").attr("placeholder","姓名不能为空！");
						return false;
					}else{
						$(this).addClass("isdoing").val("正在加载...");
						_doing.submitModifyCreateFun(creatTextName,creatTextCon);
					}

			})


			/* 分享当前梦想 */
			$(".shareBtn").click(function(){
				$("#wechatTips").fadeIn();
			})

			var isSubmitForm = {{ userdream.hasuserinfo }};

			shareData = {
			    title: '路易威登基金会·梦想启航',
			    desc: '我的梦想已经扬帆！和你的一样吗？',
			    descTimeline: '路易威登基金会·这是我的梦想，你呢？',
			    link: window.location.host + window.location.pathname,
				imgUrl: 'http://' + window.location.host + '/images/share.jpg',
				returnFun: function(){
					
			        if(parseInt(isSubmitForm)==1){
	                    pagechange.moveClick("share")
	                }else{
	                	isSubmitForm = 1;
	                    pagechange.moveClick('form');
	                } 
			    }
			};

			wechatFun();
			editShare();

			$(".loading").remove();
		})



	</script>




{% else %}

<!-- friendEnter page -->
<a href="javascript:pagechange.moveClick('chose');" class="backBtn">
			<img src="/images/ugc/reback_arr.png" />
			返回
		</a>

		<div class="selected_con">
		<img src="/images/ugc/glass-bg-0.jpg" width="100%" />

			

			<div id="selectedContent">
				<div class="hotArea">
					{% if userdream.isliked == 1 %}
						<div class="supportIcon hover">
							<img src="/images/ugc/likehover.png" width="100%" />
							<i>已支持</i>
						</div>
					{% else %}
						<div class="supportIcon">
							<img src="/images/ugc/like.png" width="100%" />
							<i>支持</i>
						</div>
					{% endif %}
					

					
					<div class="shareIcon">
						<img src="/images/ugc/shareIcon.png" width="100%" />
						<i>分享</i>
					</div>
				</div>
				<div class="dreamMode">
					<div class="selectedModel_con" data-dream-id={{ userdream.dream_id }}>
						<div class="selectedNum">{{ userdream.dreamcount }}<sup>th</sup></div>
						<div class="selectedCon">{{ userdream.content }}</div>
						<div class="selectedName">{{ userdream.nickname }}</div>
					</div>
					<img src="/images/ugc/list-model-0.png" width="100%" />
				</div>
			</div>	
			

		</div>	
		
		<div class="dream_footer">
		    <a href="" class="btn creatBtn">告诉大家你的梦想之旅</a>
		    <a href="javascript:;">
		        <img src="/images/ugc/story.jpg" width="100%" />
		    </a>
		</div>


<script type="text/javascript">

	$(function(){

		/* 点击支持当前梦想 */
		$(".supportIcon").click(function(){
			if($(this).hasClass("hover"))return false;

			var dream_id = $(".selectedModel_con").attr("data-dream-id");
			$(this).addClass("hover");
			$(".supportIcon i").html("已支持");
			$(".supportIcon img").attr("src","/images/ugc/likehover.png")
			_doing.dreamlike(dream_id);
		})


		shareData = {
		    title: '路易威登基金会·梦想启航',
		    desc: '我的梦想已经扬帆！和你的一样吗？',
		    descTimeline: '路易威登基金会·这是我的梦想，你呢？',
		    link: window.location.host + "/fondation",
			imgUrl: 'http://' + window.location.host + '/images/share.jpg',
			returnFun: function(){

		    }
		};

		wechatFun();
		editShare();
		$(".loading").remove();
	})



</script>





{% endif %}






{% endblock %}

