{% extends 'LVMotherBundle::layout.html.twig' %} 

{% block boxcontent %}


<script type="text/javascript">
	/* 导航切换代码 */
	var cid = {{ id }};
	var greeting =  {{ greeting }};
</script>

<div class="loading udmiddle">
	<div class="loadingImg">
		<img src="/motherdayImg/loading_logo.png" width="100%" />
		<em>正在加载...</em>
	</div>
</div>


<div class="section" id="shake" data-variable="{{ id }}">

	<div class="con">
		<div id="islider">
			<div class="iSlidercon">
				<div class="homecon">
					<img src="/motherdayImg/slogan.png" class="slogan" width="100%" />

					<div class="newone">
						<img src="" id="newonebox" width="100%" />
						<img src="/motherdayImg/new-one-flower.gif" width="100%" />
					</div>

					<div class="slidePrompt">
						<img src="/motherdayImg/index_arr_text.png" width="100%" />
						<span></span>
					</div>
				</div>
			</div>

			<div class="iSlidercon">
				<div class="prosingel">

					<div class="procon" style="display: inline-block;">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 7}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 9}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 9}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 8}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 10}) }}"></a>
						</div>
						
						<img src="/motherdayImg/kv-1.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 11}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 14}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 14}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 13}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 12}) }}"></a>
						</div>
						<img src="/motherdayImg/kv-2.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 2}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 4}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 4}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 6}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 5}) }}"></a>
						</div>
						<img src="/motherdayImg/kv-3.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 18}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 15}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 15}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 16}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 17}) }}"></a>
						</div>
						<img src="/motherdayImg/kv-4.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 3}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 1}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 1}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 2}) }}"></a>
						</div>
						<img src="/motherdayImg/kv-5.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 22}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 21}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 21}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 19}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 20}) }}"></a>
						</div>
						<img src="/motherdayImg/kv-6.jpg" width="100%" />
					</div>

					<div class="shakeTips">
						<img src="/motherdayImg/shake.png" width="100%" />
						<a href="javascript:shareFun();" class="btn sharebtn">
							<img src="/motherdayImg/sharebtn.jpg" width="100%" />
						</a>
						<a class="more" href="http://www.louisvuitton.cn/zhs-cn/women/gift-inspirations/timeless-pieces" target="_blank"><img src="/motherdayImg/more.png" width="100%" /></a>
					</div>
				</div>



				<div class="prolist" style="display:none;">
					<ul>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('1');">
									<img src="/motherdayImg/list-1.jpg" />
								</a>
							</div>
							<img src="/motherdayImg/listbg.png" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('2');">
									<img src="/motherdayImg/list-2.jpg" />
								</a>
							</div>
							<img src="/motherdayImg/listbg.png" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('3');">
									<img src="/motherdayImg/list-3.jpg" />
								</a>
							</div>
							<img src="/motherdayImg/listbg.png" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('4');">
									<img src="/motherdayImg/list-4.jpg" />
								</a>
							</div>
							<img src="/motherdayImg/listbg.png" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('5');">
									<img src="/motherdayImg/list-5.jpg" />
								</a>
							</div>
							<img src="/motherdayImg/listbg.png" class="opacity0" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('6');">
									<img src="/motherdayImg/list-6.jpg" />
								</a>
							</div>
							<img src="/motherdayImg/listbg.png" class="opacity0" width="100%" />
						</li>
					</ul>
				</div>


			</div>

		</div>
	</div>



</div>



{% javascripts output="js/index.min.js"
	'@LVMotherBundle/Resources/public/js/iSlider.js'
    '@LVMotherBundle/Resources/public/js/shake.js'
    '@LVMotherBundle/Resources/public/js/index.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}