{% extends 'LVMotherBundle::layout.html.twig' %} 

{% block boxcontent %}
<div class="loading udmiddle">
	<div class="loadingImg">
		<img src="/motherdayImg/loading_logo.png" width="100%" />
		<em>100%</em>
	</div>
</div>


<div class="section" id="shake" data-variable="{{ id }}">

	<div class="con">
		<div id="islider">
			<div class="iSlidercon">
				<div class="homecon homebg">
					<img src="/motherdayImg/slogan.png" class="slogan" width="100%" />

					<div class="slidePrompt">
						<img src="/motherdayImg/index_arr_text.png" width="100%" />
						<span></span>
					</div>
				</div>
			</div>

			<div class="iSlidercon">
				<div class="prosingel">

					<div class="procon" style="display: inline-block;">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 7}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 9}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 9}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 8}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 10}) }}"></a>
						</div>
						
						<img src="" sourcesrc="/motherdayImg/kv-1.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 11}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 14}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 14}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 13}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 12}) }}"></a>
						</div>
						<img src="" sourcesrc="/motherdayImg/kv-2.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 2}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 4}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 4}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 6}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 5}) }}"></a>
						</div>
						<img src="" sourcesrc="/motherdayImg/kv-3.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 18}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 15}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 15}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 16}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 17}) }}"></a>
						</div>
						<img src="" sourcesrc="/motherdayImg/kv-4.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 3}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 1}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 1}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 2}) }}"></a>
						</div>
						<img src="" sourcesrc="/motherdayImg/kv-5.jpg" width="100%" />
					</div>
					<div class="procon">
						<div class="hotArea">
							<a href="{{ path('lv_mother_card', {'id': 22}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 21}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 21}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 19}) }}"></a>
							<a href="{{ path('lv_mother_card', {'id': 20}) }}"></a>
						</div>
						<img src="" sourcesrc="/motherdayImg/kv-6.jpg" width="100%" />
					</div>

					<div class="shakeTips">
						<img src="" sourcesrc="/motherdayImg/shake.png" width="100%" />
						<a href="javascript:shareFun();" class="btn sharebtn">
							<img src="" sourcesrc="/motherdayImg/sharebtn.jpg" width="100%" />
						</a>
						<a class="more" href="http://www.louisvuitton.cn/zhs-cn/women/gift-inspirations/timeless-pieces" target="_blank"><img src="" sourcesrc="/motherdayImg/more.png" width="100%" /></a>
					</div>
				</div>



				<div class="prolist" style="display:none;">
					<ul>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('1');">
									<img src="" sourcesrc="/motherdayImg/list-1.jpg" />
								</a>
							</div>
							<img src="" sourcesrc="/motherdayImg/listbg.png" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('2');">
									<img src="" sourcesrc="/motherdayImg/list-2.jpg" />
								</a>
							</div>
							<img src="" sourcesrc="/motherdayImg/listbg.png" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('3');">
									<img src="" sourcesrc="/motherdayImg/list-3.jpg" />
								</a>
							</div>
							<img src="" sourcesrc="/motherdayImg/listbg.png" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('4');">
									<img src="" sourcesrc="/motherdayImg/list-4.jpg" />
								</a>
							</div>
							<img src="" sourcesrc="/motherdayImg/listbg.png" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('5');">
									<img src="" sourcesrc="/motherdayImg/list-5.jpg" />
								</a>
							</div>
							<img src="" sourcesrc="/motherdayImg/listbg.png" class="opacity0" width="100%" />
						</li>
						<li>
							<div class="listImg">
								<a href="javascript:prosingelFun('6');">
									<img src="" sourcesrc="/motherdayImg/list-6.jpg" />
								</a>
							</div>
							<img src="" sourcesrc="/motherdayImg/listbg.png" class="opacity0" width="100%" />
						</li>
					</ul>
				</div>


			</div>

		</div>
	</div>



</div>



{% javascripts output="js/index.min.js"
	'@LVMotherBundle/Resources/public/js/iSlider.js'
    '@LVMotherBundle/Resources/public/js/shake.js'
    '@LVMotherBundle/Resources/public/js/index.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
	/* 导航切换代码 */
	var cid = {{ id }};
	var myslider, shakeId, shakeArr = ["1", "2", "3", "fulllist", "4", "5", "6", "fulllist"];

	if(cid <= 0){
		shakeId = 0;
	}else{
		cid >= 3 ? shakeId = cid : shakeId = parseInt(cid-1, 10);
	}
	
	
	function shareFun(){
		$("#sharePup").css({"height": "100%"}).animate({"opacity": 1});
		_hmt.push(['_trackEvent', 'btn', 'click', "点击事件：share"]);
	}


	/* shake 执行代码 */

	window.onload = function() {

	    //create a new instance of shake.js.
	    var myShakeEvent = new Shake({
	        threshold: 6
	    });
	    // start listening to device motion
	    myShakeEvent.start();
	    // register a shake event
	    window.addEventListener('shake', shakeEventDidOccur, false);
	    //shake event callback
	    function shakeEventDidOccur () {
	    	
	    	var shakeVal = $("#shake").attr("data-variable");

	    	if(shakeVal<=0 || shakeVal>7)return false;
	    	//shakeId = $(".menu li.active").index();	    	

	    	shakeId++;

	    	if(shakeId > 7){
	        	shakeId=0;
	        }

	        //put your own code here etc.
	        if(shakeArr[shakeId] == "fulllist"){
	        	prolistFun();
	        }else{
	        	prosingelFun(shakeArr[shakeId]);	
	        }
	        
  
	        //alert('Shake!');
	    }
	};



	
	

	$(".menu li").click(function(e){
		
		if($(this).hasClass("active")) return false;
		var ci = $(this).index();

		if(ci == 6){
			shakeId = ci;
			prolistFun();
		}else if(ci == 7){
			$(".puplayer").css({"height": "100%"}).animate({"opacity": 1});
			_hmt.push(['_trackEvent', 'btn', 'click', "Customized card"]);
		}else{
			if(ci>=3){
				shakeId = parseInt(ci+1, 10);
			}else{
				shakeId = ci;
			}
			
			prosingelFun(parseInt(ci+1, 10));
		}

		$(".nav-icon").removeClass("active");
		$(".mask").hide();
		$(".menu").slideToggle();
		e.stopPropagation();

	})



	myslider = new iSlider({
        wrap:'#islider',
        item:'.iSlidercon',
        fullScr: 'false',
        onslide:function (index) {
            if (index == 1) {
                $(".nav-icon").show();
                $("#shake").attr("data-variable", "1");
            }

            //loaded();
        }
    });


	if(cid > 0 && cid < 8){

		myslider.slideTo(1);

		if(cid == 7){
			prolistFun();
		}else{
			prosingelFun(cid);
		}
		
	}else{
		myslider.slideTo(0);
		$(".nav-icon").hide();
	}

   



</script>


{% endblock %}